{% extends 'base.html' %}

{% block title %}Supplier List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Supplier</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Supplier List </h4>
            </div>
            <div class="card-body--">
                {% if messages %}
                    {% for message in messages %}
                    <div
                      class="alert {% if message.tags == 'error' %}alert-warning {% else %} alert-{{ message.tags }}{% endif %}"
                      role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">Sr No.</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if suppliers %}
                            {% for supplier in suppliers %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ supplier.name }}</td>
                                <td>{{ supplier.address }}</td>
                                <td>{{ supplier.user.email }}</td>
                                <td>{{ supplier.created_date|date:"Y-m-d"  }}</td>
                                <td>
                                    <!-- <a href="/edit-supplier/{{supplier.pk}}"><i class="fa fa-edit fa-lg" title="Edit Supplier"></i></a> &nbsp;&nbsp;&nbsp; -->
                                    <i class="fa fa-window-close fa-lg remove" src="/delete-supplier/{{supplier.pk}}" data-action="delete" data-href="{{supplier.pk}}" title="Delete Supplier"></i>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Supplier Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    <div class="modal fade" id="supplierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Supplier</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are You Sure You Want To Delete <b><span id="modal_body"></span></b>?
            </div>
            <div class="modal-footer">
              <a href="" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</a>
              <a href="" id="delete_button" class="btn btn-primary btn-sm">Delete</a>
            </div>
          </div>
        </div>
    </div>

    
</div>
{% endblock content %}

{% block js %}
<script>
    $(".remove").on('click', function () {
        $("#modal_body").text(
          $(this).attr("data-href")
        );

        $("#delete_button").attr(
          "href",
          $(this).attr("src")
        );
        $('#supplierModal').modal('show');
    })  

</script>
{% endblock js %}