{% extends 'base.html' %}

{% block title %}Delivery List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Delivery List </h4>
            </div>
            <div class="card-body--">
                {% if messages %}
                    {% for message in messages %}
                    <div
                      class="alert {% if message.tags == 'error' %}alert-warning {% else %} alert-{{ message.tags }}{% endif %}"
                      role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                      {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Order</th>
                                <th>Courier Name</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if deliveries %}
                            {% for delivery in deliveries %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ delivery.order }}</td>
                                <td>{{ delivery.courier_name }}</td>
                                <td>{{ delivery.created_date|date:"Y-m-d" }}</td>
                                <td>
                                    <a href="/edit-delivery/{{delivery.pk}}"><i class="fa fa-edit fa-lg" title="Edit Delivery"></i></a> &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-window-close fa-lg remove" src="/delete-delivery/{{delivery.pk}}" data-action="delete" data-href="{{delivery.pk}}" title="Delete Delivery"></i>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Delivery Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->

    
</div>
{% endblock content %}